# Maven
/target/

# IntelliJ
/.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# OS
Thumbs.db
.DS_Store

# Maven local repo (don't include huge .m2 cached jars)
.m2/

# Output (test data)
src/test/resources/data/